<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Brak uprawnień</h5>
                    <p class="card-text">Przepraszamy, nie masz uprawnień do przeglądania tej zawartości.</p>
                </div>
            </div>

            <button class="btn btn-primary" routerLink="/">Powrót do strony głównej</button>
        </div>
    </div>
</div>