
<div class="container">
    <h2>Categories</h2>
    <div class="mb-3">
      <a class="btn btn-primary" [routerLink]="'/category-create'">Create Category</a>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Category Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <td>{{ category.categoryName }}</td>
          <td>
            <a class="btn btn-primary mr-2" [routerLink]="['/get-single-category/', category.id]">Więcej</a>
            <button class="btn btn-danger" (click)="deleteCategory(category.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>