<div *ngIf="isEditMode && post" class="post-container">
  <form (submit)="saveChanges()">
      <input [(ngModel)]="post.title" name="title" placeholder="Title" required><br>
      <textarea [(ngModel)]="post.description" name="description" placeholder="Description" required></textarea><br>
      <button type="submit">Save</button>
      <button (click)="cancelEdit()">Cancel</button>
  </form>
</div>

<div *ngFor="let comment of comments" class="comment-container">
  <p class="comment-content">{{ comment.content }}</p>
  <p class="comment-author">Author: {{ comment.authorId }}</p>
  <p class="comment-time">Created: {{ comment.creationTime | date }}</p>
</div>

<button (click)="switchToEditMode()">Edit</button>