<main class="container mt-4">
    <h1>Witaj na stronie ogłoszeń!</h1>
    <div class="distance">
        <p>Strona ogłoszeń jest platformą, która umożliwia wystawianie i przeglądanie ogłoszeń różnych kategorii. Dzięki
          naszej stronie możesz łatwo zamieszczać swoje ogłoszenia oraz przeglądać ogłoszenia innych użytkowników.</p>
        <p>Oferujemy prosty i intuicyjny interfejs użytkownika, który umożliwia wygodne korzystanie z naszych usług.</p>
        <p>Zarejestruj się już teraz, aby móc dodawać i zarządzać swoimi ogłoszeniami, a także skorzystać z dodatkowych
          funkcji.</p>
        <p>Jeśli nie masz jeszcze konta, zapraszamy do rejestracji. To szybkie i łatwe!</p>
    </div>
  </main>